<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743803235101-ahncoqnu267fjnpk1n5gds3uik8gc8r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743803235101-ahncoqnu267fjnpk1n5gds3uik8gc8r3</string>
	<key>API_KEY</key>
	<string>AIzaSyCfsvlWBLLYN6BKGCEMnwJ8I5iOthborng</string>
	<key>GCM_SENDER_ID</key>
	<string>743803235101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DubAnime</string>
	<key>PROJECT_ID</key>
	<string>anidubapp-b270a</string>
	<key>STORAGE_BUCKET</key>
	<string>anidubapp-b270a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:743803235101:ios:e12f410451f6099e</string>
	<key>DATABASE_URL</key>
	<string>https://anidubapp-b270a.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6296201459697561~7831720698</string>
</dict>
</plist>
